:root{
    --colortheme:#810955;
    --box-shadow:#D9B8CDFF;
}
body{
    margin: 0;
}
header{
    background-color: var(--colortheme);
    height: 60px;
    width: 100%;

}
#title{
    font-size: 30px;
    color: white;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}
a{
    text-decoration: none;
    color: white; !important;

}
#social{
    float: right;
    margin-right: 1%;
}
#social img {
    height: 50px;

}

#main{
    width:80%;
    margin-left: 10%;
    margin-top:2%;
    display: inline-block;
}
#filter{
    height:600px;
    width:20%;
    border: 5px groove grey;
    float: left;
}
#filter hr{
    width: 90%;
    color: #a1a1a1;
}

.FilterHeading{
    font-size: 25px;
    font-weight: bold;
}
.FilterSubHeading{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#listing{
    width:75%;
    float: left;
    margin-left: 4%;
    margin-top:-2%;

}
.listDetailBox {
    width: 100%;
    height: 300px;
    margin-top: 2%;
    box-shadow: 10px 20px 10px var(--box-shadow);
}
  
.listDetailBox img:hover{
    transform: scale(1.1);
}
.listingHeading{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 1%;
    color: Grey;
}
figure{
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}
figcaption{
    text-align: center;
    font-weight: bold;
}
.foodsimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.onlineFooddiv{
     box-shadow: 10px 20px 10px #D9B8CDFF;
    height: 900px;
    width: 100%;

}
.onlineFood{
       width: 350px;
        height: 200px;
    margin-left: 5%;
    border: 2px solid var(--colortheme);

}
.onlineFooddiv a{
    text-decoration: none;
    color: black;
}

footer{
    background: var(--colortheme);
    margin-top: 3%;
    width: 100%;
    height:80px;
    color: white;
    text-align: center;
}