body{
    margin: 0;
}
header{
    background: #810955;
    height: 60px;
    width: 100%;

}
#title{
    font-size: 30px;
    color: white;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}
a{
    text-decoration: none;

}
#social{
    float: right;
    margin-right: 1%;
}
#social img {
 height: 50px;

}
#search{
    background-image: url("images/food1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
#logo span{
    margin-top: 7px;
    margin-left: 30px;
    font-size: 90px;
    font-family: cursive;
    position: absolute;;
}
#logo{
    height:150px;
    width:150px;
    border-radius: 50%;
    background-color: white;
    margin-left: 47%;
    margin-top:1%;
    position: fixed;
}
#text{
    font-size: 60px;
    color: white;
    margin-top: 13%;
    margin-left: 30%;
    position: absolute;
}
#dropdown{
    width: 50%;
    height: 60px;
    color: white;
    margin-top: 19%;
    margin-left: 27%;
    position: absolute;
}
select{
    text-align: center;
    font-size: 20px;
    height: 60px;
    width: 40%;
}
#restaurant{
    width: 58%;
}
#quickSearch{
    border: 2px solid pink;
    height: 450px;
    width: 100%;
}
#footer{
    border: 2px solid greenyellow;
    height: 60px;
    width: 100%;
}